# первая строка — это игнорирование всех файлов с расширением .class
*.class
# вторая строка — это игнорирование папки target и всего, что она содержит
target/
# третья строка — это игнорирование всех файлов с расширением .iml;
*.iml
# четвертая строка — это игнорирование папки .idea.
.idea/